* {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    overflow-x: hidden;
    background-color: $color-five;
}

html {
    font: 18px;
}

a {
    color: $color-first;

    &:hover{
        color: $color-second;
    }
}

main {
    margin: 20px;

    & h1{
        color: $color-first;
        margin-bottom: 10px;
        margin-top: 20px;
        font-weight: bold;
        text-align: center;
    }

    & p{
        padding-top: 5px;
    }

    & label{
        font-size: 24px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    & ul{
        list-style: none;
        font-size: 20px;
    }
}

